.marginTop {
  margin-top: 50px;
}

.name {
  font-size: 14px;
  color: rgb(255, 230, 7);
  font-weight: bold;
}

.level {
  font-size: 12px;
  color: grey;
}

.bio {
  font-size: 12px;
  color: white;
  text-align: left;
}

.date {
  text-align: left;
  font-size: 10px;
  color: grey;
}
